.advantage__list {
  @include ulStyle;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 27px 20px 0;
  padding: 0;
}

.advantage__green {
  position: relative;
  min-width: 60px;
  height: 60px;
  background-color: #68b738;

  &--leaf {
    &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: center;
    }
  }

  &--powder {
    &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../img/advantage-powder@1x.png");
    background-position: center;
    }
  }

  &--spoon {
    &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../img/advantage-dining@1x.png");
    background-position: center;
    }
  }

  &--alarm {
    &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../img/advantage-clock@1x.png");
    background-position: center;
    }
  }
}

.advantage__item {
  display: flex;
  margin: 20px 0 0 0;
  padding: 0;

  &:nth-child(1) {
    margin-top: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 50%;
    //временно
    height: 270px;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
  }
}

.advantage__title {
  @include oswaldReg;
  @include fontStyle(36px,60px);
  color: #111111;
  margin: 18px 21px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include fontStyle(60px,60px);
    margin: 16px 30px 0 30px;
  }
}

.advantage__desc {
  margin: 0;
  padding: 2px 0 0 20px;
  color: #444444;

  @media (min-width: $tablet-width) {
    @include fontStyle(16px);
  }
}
