.advantage__list {
  @include ulStyle;
  display: flex;
  flex-wrap: wrap;
}

.advantage__item {
  @include mp(20px 0 0 0,0 0 0 80px);
  width: 100%;
  &:nth-child(1) {
    margin-top: 0;
  }
  @media(min-width: $tablet-width) {
    @include mp(0,0);
    box-sizing: border-box;
    width: 50%;
    //временно
    height: 270px;
  }
  @media(min-width: $desktop-width) {
    width: 25%;
  }
}

.advantage__title {
  @include oswaldReg;
  @include fontStyle(36px,60px);
  color: #111111;
  @media(min-width: $tablet-width) {
    @include fontStyle(60px,60px);
  }
}

.advantage__desc {
  @include mp;
  color: #444444;
  @media(min-width: $tablet-width) {
    @include fontStyle(16px,24px);
  }
}
