.advantage__list {
  @include ulStyle;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 27px 20px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 70px 30px 50px;
    border-bottom: 1px solid #f2f2f2;
  }
}

.advantage__green {
  position: relative;
  min-width: 60px;
  height: 60px;
  background-color: #68b738;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;

  }

  &--leaf {
    &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: center;
    background-repeat: no-repeat;
    }
  }

  &--powder {
    &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/advantage-powder@1x.png");
    background-position: center;
    background-repeat: no-repeat;
    }
  }

  &--spoon {
    &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/advantage-dining@1x.png");
    background-position: center;
    background-repeat: no-repeat;
    }
  }

  &--alarm {
    &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/advantage-clock@1x.png");
    background-position: center;
    background-repeat: no-repeat;
    }
  }
}

.advantage__item {
  display: flex;
  margin: 20px 0 0 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    &:nth-child(1) {
      margin-top: 0;
    }


    &:nth-child(2n) {
      padding: 0 0 50px 30px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 50%;
    flex-direction: column;
    position: relative;

  &--1 {
    &::before {
      content: "1";
      position: absolute;
      top: 92px;
      right: 125px;
      font-size: 281px;
      color: #f2f2f2;
      font-family: "Oswald","Arial",sans-serif;
    }
  }

  &--2 {
    &::before {
      content: "2";
      position: absolute;
      top: 92px;
      right: 78px;
      font-size: 281px;
      color: #f2f2f2;
      font-family: "Oswald","Arial",sans-serif;
    }
  }

  &--3 {
    margin: 81px 0 0 0;
    &::before {
      content: "3";
      position: absolute;
      top: 92px;
      right: 108px;
      font-size: 281px;
      color: #f2f2f2;
      font-family: "Oswald","Arial",sans-serif;
    }
  }

  &--4 {
    margin: 81px 0 0 0;
    &::before {
      content: "4";
      position: absolute;
      top: 92px;
      right: 75px;
      font-size: 281px;
      color: #f2f2f2;
      font-family: "Oswald","Arial",sans-serif;
    }
  }
  }

  @media (min-width: $desktop-width) {
    width: 25%;
  }
}

.advantage__title {
  @include oswaldReg;
  @include fontStyle(36px,60px);
  color: #111111;
  margin: 18px 21px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include fontStyle(60px,60px);
    margin: 16px 30px 0 30px;
  }
}

.advantage__desc {
  margin: 0;
  padding: 2px 0 0 20px;
  color: #444444;

  @media (min-width: $tablet-width) {
    @include fontStyle(16px);
    padding: 34px 90px 0 0;
    z-index: 1;
  }
}
