.button {
  @include oswaldReg;
  @include fontStyle(14px,18px);
  display: block;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    @include fontStyle(20px,20px, $white);
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.button--link-green {
  background-color: #68b738;
}

.button--product {
  @media (min-width: $tablet-width) {
    @include fontStyle(16px,20px, $white);
    padding-top: 12px;
    padding-bottom: 10px;
  }
}

.button--extra {
  padding-bottom: 8px;
}

.button--link-grey {
  color: #444444;
  background-color: $grey;
}

.button__wrapper {
  display: block;
}

.button--submit {
  margin: 0;
  padding: 0;
  border: 0;
  width: 280px;
  padding-top: 12px;
  padding-bottom: 10px;
}
