.button {
  @include oswaldReg;
  @include fontStyle(14px,18px);
  display: block;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 10px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    @include fontStyle(20px,20px, $white);
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.button--link-green {
  background-color: #68b738;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--product {
  @include fontStyle(16px,20px, $white);
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.button--extra {
  padding-bottom: 8px;

  @media (min-width: $desktop-width) {
    padding-bottom: 10px;
  }
}

.button--link-grey {
  @include fontStyle(16px,20px,#444444);
    background-color: $grey;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.button--submit {
  @include fontStyle(16px,20px,$white);
  margin: 0;
  padding: 0;
  border: 0;
  width: 280px;
  padding-top: 12px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    @include fontStyle(20px,20px,$white);
    width: 283px;
    margin-top: 11px;
    padding: 15px 0 17px 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0;
  }
}
