.contacts {
  display: flex;
  flex-wrap: wrap;
}

.contacts__wrapper {
  display: flex;
  padding: 30px 20px 25px;

  @media (min-width: $tablet-width) {
    padding: 62px 30px 58px 30px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 35.5%;
    margin-left: 110px;
    padding: 64px 30px 58px 30px;
    margin-top: 94px;
    background-color: $white;
  }
}

.contacts__desc {
  @include oswaldReg;
  @include fontStyle(16px,20px);
  margin: 0;
  padding: 0;
  min-width: 140px;
  color: #111111;
  text-transform: uppercase;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    @include fontStyle(20px,25px);
    width: 50%;
    padding: 0 120px 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px 0 46px;
  }
}

.contacts__text {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 140px;
  color: #444444;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    text-align: end;
    padding: 0 42px 0 120px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 60px 0 0;
    text-align: start;
  }

  &--city {
    @media (min-width: $tablet-width) {
      padding-top: 18px;
    }

    @media (min-width: $desktop-width) {
      padding: 18px 0 0 0;
      text-align: start;
    }
  }
}

.contacts__iframe-wrapper {
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 397px;
  }
}

.contacts__text-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;

  @media (min-width: $desktop-width) {
    padding: 0 0 0 66px;
  }
}
