.example {
  background-color: $grey;

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.example__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 30px;
  margin-top: 42px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 0;
    margin-top: 44px;
  }
}

.example__title {
  @include oswaldReg;
  @include fontStyle(36px,60px);
  margin: 0;
  padding: 17px 0 0 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    padding: 0;
  }
}

.example__desc {
  margin: 0;
  padding: 23px 10px 0 0;
  color: #444444;

  @media (min-width: $tablet-width) {
    @include fontStyle(16px);
    padding: 63px 10px 0 0;
  }
}

.example__cost {
  @include oswaldReg;
  @include fontStyle(14px,20px);
  color: #111111;
  text-transform: uppercase;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include fontStyle(20px,20px);
  }

  &--rub {
    @media (min-width: $tablet-width) {
      padding: 10px 0 0 0;
    }
  }
}

.example__phrase {
  @include oswaldReg;
  @include fontStyle(16px, 20px);
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    line-height: 20px;
  }
}

.example__result {
  box-sizing: border-box;
  min-width: 124px;
  min-height: 54px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  position: relative;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    min-width: 162px;
    min-height: 72px;
    margin-top: 54px;
  }

  &--kg {
    margin-right: 32px;

    @media (min-width: $tablet-width) {
      margin-right: 42px;
    }
  }
}

.example__result-wrapper {
  position: absolute;
  background-color: #f2f2f2;
  margin: 16px 0 0 18px;
  max-width: 87px;
  text-align: center;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    margin: 16px 0 0 8px;
    min-width: 142px;
  }
}

.example__wrapper-inner {
  display: flex;
  flex-wrap: wrap;
}

.example__result-title {
  @include oswaldReg;
  @include fontStyle(24px,24px);
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include fontStyle(30px,36px);
  }
}

.example__result-desc {
  @include fontStyle(12px,12px);
  color: #444444;
  margin: 6px 0 0 0;
  padding: 0 16px;

  @media (min-width: $tablet-width) {
    @include fontStyle(14px,14px);
    margin: 10px 0 0 0;
    padding: 0;
  }
}

.example__img {
  margin: 40px 0 0 -15px;
}

.example__range-wrapper {
  min-width: 280px;
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.example__cost-wrapper {
  padding: 36px 0 0 48px;
  display: flex;
  flex-wrap: wrap;
  @media (min-width: $tablet-width) {
    flex-direction: column;
    text-align: end;
    padding: 65px 0 0 167px;
  }
}
