.extra-product-card {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.extra-product-card__title {
  @include oswaldReg;
  @include fontStyle(16px,16px);
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include fontStyle (20px,20px);
  }
}

.extra-product-card__link {
  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 35%;
  }
}

.extra-product-card__field {
  line-height: 14px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    min-width: 220px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.extra-product-card__value {
  line-height: 14px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 58px;
    text-align: start;
  }
}

.extra-product-card__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 26px 19px 21px 1px;
    width: 100%;
  }
}

.extra-product-card__wrapper--button {
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 21px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    margin-top: 15px;
    width: 38.9%;
  }
}

.extra-product-card__line {
  justify-content: space-between;
  display: flex;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 100%;
    box-sizing: border-box;
  }
}

.extra-product-card__characteristic {
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: 63%;
    padding-left: 91px;
  }
}
