.extra-product {
  padding-top: 29px;

  @media (min-width: $tablet-width) {
    padding: 62px 0 76px;
  }

  @media (min-width: $desktop-width) {
    padding: 75px 0 86px;
  }
}

.extra-product__wrapper {
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding: 52px 30px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 75px 0 0 40px;
  }
}

.extra-product__list {
  @include ulStyle;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 895px;
  }
}

.extra-product__item {
  width: 100%;
  box-sizing: border-box;
  padding: 13px 0 17px;
  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    padding: 25px 37px 27px 38px;
    border: 1px solid #d9d9d9;
  }

  @media (min-width: $desktop-width) {
    border: none;
    border-top: 1px solid #cdcdcd;
    padding: 0;
  }

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.extra-product__title {
  @include oswaldReg;
  @include fontStyle(24px,24px);
  @include ulStyle;
  padding: 0 22px 0 20px;
  position: relative;
  display: inline-block;
  background-color: $white;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 100vw;
    left: 0;
    height: 3px;
    margin-top: 2px;
    background: #68b738;
    z-index: -1;

    @media (min-width: $tablet-width) {
      top: 32%;
    }

    @media (min-width: $desktop-width) {
      top: 50%;
      left: -70px;
    }
  }

  @media (min-width: $tablet-width) {
    @include fontStyle(36px,36px);
    text-align: center;
    padding: 0 36px 30px 67px;

    &::before {
      content: "";
      position: absolute;
      top: 32%;
      left: 0;
      width: 6.4%;
      height: 3px;
      margin-top: 2px;
      background: #68b738;

      @media (min-width: $desktop-width) {
        display: none;
      }

      @media (min-width: 1440px) {
        display: block;
        width: 17.5%;
        top: 50%;
        left: -71px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    padding: 0 35px 0 39px;
  }
}
