.extra-product-card {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.extra-product-card__title {
  @include oswaldReg;
  @include fontStyle(16px,16px);
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include fontStyle (20px,20px);
  }
}

.extra-product-card__link {
  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.extra-product-card__field {
  line-height: 14px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    min-width: 220px;
    text-align: end;
  }
}

.extra-product-card__value {
  line-height: 14px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.extra-product-card__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.extra-product-card__wrapper--button {
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 21px;
  }

  @media (min-width: $desktop-width) {
    //исправить, нормально подумать проценты от родительского
    width: 30%;
  }
}

.extra-product-card__line {
    justify-content: space-between;
    display: flex;
    width: 280px;

    @media (min-width: $tablet-width) {
      width: 100%;
      box-sizing: border-box;
    }
}

.extra-product-card__characteristic {
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 0;
  }
}
