.extra-product__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.extra-product__list {
  @include ulStyle;

  @media (min-width: $desktop-width) {
    width: 75%;
  }
}

.extra-product__item {
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 37px 0 38px;
  }
}

.extra-product__title {
  @include oswaldReg;
  @include fontStyle(24px,24px);
  @include ulStyle;
}
