.form__title {
  @include oswaldReg;
  @include fontStyle(24px,24px);
  color: #111111;
}

.form__label {
  @include oswaldReg;
  @include fontStyle(16px,18px);
  color: #222222;
}

.form__required {
  line-height: 16px;
}
