.form__fieldset {
  margin: 0;
  padding: 0;
  border: 0;

  &--cat {
    display: flex;
    margin-top: 38px;
    margin-bottom: 23px;
    padding: 0 20px;
  }

  &--target {
    border-top: 1px solid #ededed;
    padding: 0 20px;
  }
}

.form__title {
  @include oswaldReg;
  @include fontStyle(24px,24px);
  color: #111111;
}

.form__label {
  @include oswaldReg;
  @include fontStyle(16px,18px);
  color: #222222;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  &--radio {
    padding: 5px 0 0 45px;

    &::before {
      content: "";
      position: absolute;
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      border: 1px solid #d1d1d1;
      border-radius: 50%;
      left: -1px;
    }

    &::after {
      content: "";
      position: absolute;
      box-sizing: border-box;
      width: 12px;
      height: 12px;
      background-color: #68b738;
      border-radius: 50%;
      left: 9px;
    }
  }
}

.form__list {
  @include ulStyle;
}

.form__item {
  margin-top: 20px;

  &:last-child {
    margin-bottom: 27px;
  }
}

.form__required {
  line-height: 16px;
}

.form__input {
  padding: 12px 0 12px 13px;
  width: 100%;
  text-transform: uppercase;
  text-align: start;
}

.form__input[placeholder] {
  @include oswaldReg;
  @include fontStyle(16px,18px,#444444);
}

.form__phrase {
  flex-shrink: 0;

  &--name {
    margin-right: 13px;
  }

  &--weight {
    margin-right: 17px;
  }

  &--years {
    margin-right: 16px;
  }
}
