.form__fieldset {
  margin: 0;
  padding: 0;
  border: 0;

  &--cat {
    display: flex;
    margin-top: 38px;
    margin-bottom: 23px;
    padding: 0 20px;
  }

  &--target {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 0 20px;
  }

  &--contact {
    padding: 0 20px;
    margin-top: 27px;
  }

  &--comment {
    padding: 0 20px;
    margin-top: 28px;
  }

  &--extra {
    padding: 0 20px;
    margin-top: 24px;
  }
}

.form__title {
  @include oswaldReg;
  @include fontStyle(24px,24px);
  color: #111111;
  padding: 0;

  &--contact {
    margin-bottom: 34px;
  }
}

.form__label {
  @include oswaldReg;
  @include fontStyle(16px,18px);
  color: #222222;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  &--radio {
    padding: 5px 0 0 45px;

    &::before {
      content: "";
      position: absolute;
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      border: 1px solid #d1d1d1;
      border-radius: 50%;
      left: -1px;
    }

    &::after {
      content: "";
      position: absolute;
      box-sizing: border-box;
      width: 12px;
      height: 12px;
      background-color: #68b738;
      border-radius: 50%;
      left: 9px;
    }
  }
}

.form__list {
  @include ulStyle;

  &--extra {
    margin-top: 35px;
  }
}

.form__item {
  margin-top: 20px;

  &:last-child {
    margin-bottom: 27px;
  }

  &--extra {
    position: relative;
    margin-top: 0;
    padding-left: 45px;
    padding-top: 5px;
    padding-bottom: 7px;
    margin-bottom: 13px;

    &::before {
      content: "";
      position: absolute;
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      border: 1px solid #cdcdcd;
      left: -1px;
      top: -1px;
    }

    &:last-child {
      margin-bottom: 32px;
    }
  }
}

.form__input {
  padding: 12px 0 12px 13px;
  width: 100%;
  text-transform: uppercase;
  text-align: start;
}

.form__input[placeholder] {
  @include oswaldReg;
  @include fontStyle(16px,18px,#444444);
}

.form__phrase {
  flex-shrink: 0;

  &--name {
    margin-right: 13px;
  }

  &--weight {
    margin-right: 17px;
  }

  &--years {
    margin-right: 16px;
  }

  &--email {
    margin-right: 11px;
  }

  &--tel {
    margin-right: 9px;
  }
}

.form__textarea {
  @include oswaldReg;
  @include fontStyle(16px,18px,#444444);

  box-sizing: border-box;
  margin-top: 35px;
  padding-top: 12px;
  width: 100%;
  max-height: 150px;
  text-align: center;
  text-transform: uppercase;
}

.form__submit {
  padding: 0 20px;
}

.form__required {
  line-height: 16px;
  margin: 19px 0 32px 0;
  padding: 0 20px;
  text-align: center;
}
