.gift {
  width: 100%;
  //временно
  height: 280px;
  background-image: url(../img/gift-photo-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @media(min-width: $tablet-width) {
    background-image: url(../img/gift-photo-tablet@1x.jpg);
  }
  @media(min-width: $desktop-width) {
    //сделать норм
    width: 245px;
    background-image: url(../img/gift-photo-desktop@1x.jpg);
  }
}

.gift__desc {
  font-size: 16px;
  line-height: 20px;
  color: $white;
}
