.gift {
  width: 100%;
  margin: 40px 20px 34px 20px;
  height: 289px;
  width: 280px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;

  @media (min-width: $tablet-width) {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    margin: 70px 0 0 0;
    padding: 65px 110px 68px 91px;
    box-sizing: border-box;
    justify-content: space-between;
    height: 200px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    //сделать норм
    width: 245px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
  }
}

.gift__desc {
  font-size: 16px;
  line-height: 20px;
  color: $white;
  margin: 0;
  padding: 0 50px 42px 80px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 175px;
  }
}
