.landing {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    min-height: 575px;
    padding: 0;
    position: inherit;
  }
}

.landing__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 20px;
  min-height: 305px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #5ea235;

  @media (min-width: $tablet-width) {
    min-height: unset;
    background: none;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 720px;
      height: 696px;
      background-size: cover;
      background-image: url("../img/index-background-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}

.landing__button {
  padding: 0 20px;
  margin-top: 135px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 245px;
    margin: 0;
    padding: 0;
    top: 292px;
    left: 118px;
  }

  @media (min-width: $desktop-width) {
    position: inherit;
    margin-left: 120px;
    margin-top: 51px;
  }
}
