.main-nav {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.main-nav__logo-img {

  @media (min-width: $tablet-width) {
    width: 173px;
    height: 58px;
    margin-top: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
    margin: 0 0 4px 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-nav__wrapper {
  display: flex;
  align-items: center;
  height: 65px;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: 56px;
  }
}

.main-nav__list {
  @include ulStyle;
  @include fontStyle(20px, 20px);
  @include oswaldMed;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    @include fontStyle(18px, 26px);
    @include oswaldReg;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 42px;
    min-width: 500px;
  }

  @media (min-width: $desktop-width) {
    @include fontStyle(20px, 26px);
    margin-top: 72px;
  }
}

.main-nav__item {
  display: block;
  color: #111111;
  padding: 22px 0 22px;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: 0;
    padding: 0 0 6px 0;
    color: #222222;

    &--active {
      border-bottom: 2px solid #68b738;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 8px 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

}

.main-nav__list li {
  @media (min-width: $tablet-width) {
    padding: 0 35px 0 0;

    &:last-child {
      padding: 0;
    }
  }
}

.main-nav--closed .main-nav__toggle {
  cursor: pointer;
  position: absolute;
  top: 22px;
  right: 20px;
  z-index: 2;
  width: 24px;
  height: 18px;
  border: none;
  background-color: $white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 18px;
    background-image: url("../img/icon-mobile-menu.svg");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle
 {
  cursor: pointer;
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 2;
  width: 18px;
  height: 18px;
  border: none;
  background-color: $white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 1px;
    width: 18px;
    height: 18px;
    background-image: url("../img/icon-close.svg");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

@media (max-width: $tablet-width - 1px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}

.main-nav--nojs {
  .main-nav__toggle::before,
  .main-nav__toggle {
    display: none;
  }
}

.page-header--index {
  @media (min-width: $desktop-width) {
    .main-nav__item {
      color: $white;

      &--active {
        border-color: $white;
      }
    }
  }
}
