.page__body{
  min-width: 320px;
}

.page__desc {
  @include oswaldReg;
  @include fontStyle(14px,18px);
  color: #111111;

  &--form {
    text-transform: uppercase;
    margin: 25px 0 0 0;
    padding: 0 70px 0 20px;

    @media (min-width: $tablet-width) {
      @include fontStyle(20px,30px);
      margin: 55px 0 0 0;
      padding: 0 361px 0 69px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 900px 0 40px;
    }
  }
}
