.problem-card {
  background-color: $grey;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 0 62px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 32px 62px 52px;
  }
}

.problem-card__title {
  @include oswaldReg;
  @include fontStyle(24px);
  padding: 30px 0 0 91px;
  margin: 0;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include fontStyle(36px,36px);
    padding: 78px 0 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;

    &--weight {
      padding-left: 40px;
    }
  }
}

.problem-card__desc {
  padding: 30px 0 22px;
  margin: 0 20px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    @include fontStyle(16px, 24px);
    margin: 0;
    padding: 25px 280px 0 0;
    border: none;
  }

  &--hey {
    @media (min-width: $tablet-width) {
      padding-right: 312px;
    }

    @media (min-width: $desktop-width) {
      padding: 25px 315px 0 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 72px 0 0 0;
  }
}

.problem-card__link {
  @include oswaldReg;
  @include fontStyle(16px,16px);
  padding: 20px 20px;
  display: block;
  position: relative;
  text-transform: uppercase;
  color: #111111;

  &::after {
    content: "";
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 11'%3E%3Cpath fill='%233f4242' d='M17.6 0l6.6 5.5-6.6 5.5V6.6H0V4.4h17.6z'/%3E%3C/svg%3E");
    width: 24px;
    height: 11px;
    left: 117px;
    top: 21px;

    @media (min-width: $tablet-width) {
      left: 126px;
      top: 60px;
    }

    @media (min-width: $desktop-width) {
      left: 126px;
      top: 37px;
    }
  }

  @media (min-width: $tablet-width) {
    @include fontStyle(20px,20px);
    padding: 55px 0 0 0;
    max-width: 26%;
  }

  @media (min-width: $desktop-width) {
    padding-top: 32px;
    max-width: 35%;
  }

  &--slim {
    &::after {
      @media (min-width: $tablet-width) {
        left: 131px;
      }

      @media (min-width: $desktop-width) {
        left: 131px;
      }
    }
  }

  &:hover {
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 11'%3E%3Cpath fill='%233f4242' d='M25.4 0L32 5.5 25.4 11V6.6H0V4.4h25.4z'/%3E%3C/svg%3E");
      width: 32px;
      height: 11px;
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      opacity: 0.3;
    }
  }
}

.problem-card__img {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  top: 23px;
  left: 22px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    top: 93px;
    right: 62px;
    left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    right: auto;
    top: 47px;
  }
}

.problem-card__icon {
  position: absolute;

  &--slim {
    left: 8px;
    top: -1px;

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 194px;
      bottom: 18px;
      left: 30px;
      top: -12px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      bottom: 10px;
      left: 14px;
      top: -6px;
    }
  }

  &--pro {
    left: -9px;
    top: 10px;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
      left: -34px;
      top: 43px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
      left: -18px;
      top: 22px;
    }
  }
}

.problem-card__link-title {
  @include oswaldReg;
  @include fontStyle(16px,16px);
  margin: 0;

  @media (min-width: $tablet-width) {
    @include fontStyle(20px,20px);
  }
}
