.problem__list {
  @include ulStyle;
  display: flex;
  flex-direction: column;
  @media(min-width: $desktop-width){
    flex-direction: row;
  }
}

.problem__item {
  box-sizing: border-box;
  @include mp(22px 0 0 0,0);
  @media(min-width:$desktop-width) {
    //не точный размер
    width: 55%;
     &:nth-child(1) {
      margin-right:80px;
    }
  }
}
