.problem__list {
  @include ulStyle;
  display: flex;
  flex-direction: column;


  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin: 132px 110px 0;

  }
}

.problem__item {
  margin: 22px 20px 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin: 30px 0 0 0;

    &:first-child {
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 55%;

    &:nth-child(1) {
      margin-right: 80px;
    }
  }
}
