.problem-card {
  padding: 0 20px;
  background-color: $grey;

  @media (min-width: $tablet-width) {
    padding: 0 0 0 52px;
  }
}

.problem-card__title {
  @include oswaldReg;
  @include fontStyle(24px);
  padding: 35px 0 0 91px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 78px 0 0;
  }
}

.problem-card__desc {
  padding: 25px 0 20px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $desktop-width) {
    @include fontStyle(16px,24px);
  }
}

.problem-card__link {
  @include oswaldReg;
  @include fontStyle(16px,16px);
  padding: 20px 0 0;
  display: block;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    @include fontStyle(20px,20px);
  }
}
