.product-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    background-color: $grey;
    flex-direction: column;
    height: 430px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 42px;
    height: auto;
  }
}

.product-card__title {
  @include oswaldReg;
  @include fontStyle(16px,20px);
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  max-width: 100px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    max-width: 100%;
  }
}

.product-card__characteristic {
  @include fontStyle(12px,16px);
  color: #444444;
  padding-top: 10px;
  display: table;
  border-collapse: collapse;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding-top: 26px;
  }
}

.product-card__line {
  @media (min-width: $tablet-width) {
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
  }
}

.product-card__value {
  text-align: right;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
    padding: 8px 0;
    width: 100%;
  }
}

.product-card__field {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
    padding: 8px 0;
  }
}

.product-card__wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    padding: 0 37px;
    width: 100%;
  }
}

.product-card__wrapper-button {
  @include fontStyle(16px,20px);
  width: 100%;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    padding: 0 37px;
    margin-top: 32px;
  }

  &--more {
    @media (min-width: $tablet-width) {
      padding: 0;
      margin-top: 89px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 31px;
  }
}

.product-card__link--title {
  padding: 22px 40px 9px 0;

  @media (min-width: $tablet-width) {
    padding: 20px 44px 18px 47px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding: 19px 20px 19px;
  }
}

.product-card__link--img {
  width: 50%;
  height: 144px;

  @media (min-width: $tablet-width) {
    max-width: unset;
    min-height: 144px;
  }
}

.product-card__img {
  &--small {
    @media (min-width: $tablet-width) {
      margin-top: -45px;
    }

    @media (min-width: $desktop-width) {
      margin-top: -47px;
    }
  }

  &--big {
    @media (min-width: $tablet-width) {
      margin-top: -81px;
    }

    @media (min-width: $desktop-width) {
      margin-top: -83px;
    }
  }
}
