.social__list {
  @include ulStyle;
  display: flex;
  justify-content: center;
  padding: 24px 0 16px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
  }
}

.social__item {
  min-width: 50px;
  min-height: 23px;
  text-align: center;
  align-self: center;
  box-sizing: border-box;

  &--vk {
    padding-right: 13px;

    @media (min-width: $tablet-width) {
      padding-left: 23px;
      padding-right: 0;
    }
  }

  &--insta {
    @media (min-width: $tablet-width) {
      padding-left: 29px;
    }
  }

  &--fb {
    padding-left: 5px;

    @media (min-width: $tablet-width) {
      padding-left: 23px;
    }
  }
}

.social__icon {
  fill: #666666;

  &--vk {
    @media (min-width: $tablet-width) {
      width: 30px;
      height: 16px;
    }
  }

  &--fb {
    @media (min-width: $tablet-width) {
      width: 14px;
      height: 28px;
    }
  }

  &--insta {
    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &:hover {
    fill: #68b738
  }

  &:active {
    opacity: 0.3;
  }
}
