.social__list {
  @include ulStyle;
  display: flex;
  justify-content: center;
  padding: 22px 0 16px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: 0;
    padding: 0;
  }
}

.social__item {
  padding-right: 4px;
  min-width: 50px;
  min-height: 23px;
  text-align: center;
  align-self: center;
}

.social__icon {
  fill: #666666;

  &--vk {
    @media (min-width: $tablet-width) {
      width: 30px;
      height: 16px;
    }
  }

  &--fb {
    @media (min-width: $tablet-width) {
      width: 14px;
      height: 28px;
    }
  }

  &--insta {
    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }
}
