@mixin ulStyle($margin:0,$padding:0) {
  margin: $margin;
  padding: $padding;
  list-style: none;
}

@mixin fontStyle($font-size:14px,$line-height:18px) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin oswaldMed() {
  font-family: 'Oswald';
  font-weight: 500;
}

@mixin oswaldReg() {
  font-family: 'Oswald';
  font-weight: 400;
}
